<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mehul.redditwall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"
                android:theme="@style/AppTheme.NoActionBar" />
        </activity>
        <activity
            android:name=".activities.SubActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NextWallpaper">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/next_wallpaper_info" />
        </receiver>
        <receiver
            android:name=".ChangeWallpaper"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.HistoryActivity"
            android:label="History"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PostActivity"
            android:label="Post Comments"
            android:parentActivityName=".activities.WallActivity" />
        <activity
            android:name=".activities.RecActivity"
            android:label="Recommendations"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.FavImageActivity"
            android:label="Favorite Images"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.WallActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Image Preview"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="Reddit Walls"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>